<div class="card-body card-block">
  <%= form_with(model: [:admin, @category, item], local: true) do |form| %>
    <% if item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(item.errors.count, "error") %> prohibited this menu item from being saved:</h2>

        <ul>
          <% item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-12">
        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="field">
          <%= form.label :description %>
          <%= form.text_area :description, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="card-footer card-actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
