
<div class="col-md-12">
<div class="field">
  <%= f.label :price %>
  <%= f.number_field :price, class: "form-control" %>
</div>
<div class="field ">
  <%= f.label :size %>
  <%= f.text_field :size, class: "form-control" %>
</div>
<div class="field">
  <%= f.label :quantity %>
  <%= f.text_field :quantity, class: "form-control" %>
</div>
</div>