<div class="spinner">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    <div class="line4"></div>
</div>
<!--/ Loading Spinner -->
<div id="page" class="hfeed site invisible">    <!--Header  (soufle-sticky-header-on)-->

    <%= render 'header' %>
    <div id="main" class="site-main" role="main">        
        <!--Header Section-->
        <section class="soufle-section-image soufle-header-image soufle-section-overlay soufle-section-height-md parallax coffee-menu-bg"
                 style="background-image: url(<%= asset_url("Home-Slider/coffee-menu-heading-img.jpg") %>)">
            <div class="container">
              <div class="row">
                <h3 class="soufle-section-image-title-before">MENU</h3>
                <h2 class="soufle-section-image-title-after">COFFEE</h2>
              </div>
            </div>
        </section>
        <!--End Header Section-->        
        <!--Contact Form Wrap-->
        <div class="soufle-divider-space space-md" style="height: 70px"></div>
        <!--Dish Menu 1-->
        <section class="soufle-dish-menu container-min" id="food">
            <div class="container">
                <div class="row">
                  <h3 class="soufle-dish-menu-title">COFFEE MENU</h3>
                  <div class="col-md-6">
                    <ul class="soufle-dish-menu-content">
                      <li>
                        <div class="soufle-dish-menu-description">
                          <div class="soufle-dish-image">
                            <img src="<%= asset_url("Menu/food-1.jpg") %>" alt="Food 1"/>
                          </div>
                          <h5>Americano</h5>
                          <div>Description Text here</div>
                        </div>
                      </li>
                      <li>
                        <div class="soufle-dish-menu-description">
                          <div class="soufle-dish-image">
                            <img src="<%= asset_url("Menu/food-1.jpg") %>" alt="Food 1"/>
                          </div>
                          <h5>Flat White (8oz)</h5>
                          <div>Description Text here</div>
                        </div>  
                      </li>
                      <li>
                        <div class="soufle-dish-menu-description">
                          <div class="soufle-dish-image">
                            <img src="<%= asset_url("Menu/food-1.jpg") %>" alt="Food 1"/>
                          </div>
                          <h5>Latte</h5>
                          <div>Description Text here</div>
                        </div>
                      </li>
                      <li>
                        <div class="soufle-dish-menu-description">
                          <div class="soufle-dish-image">
                            <img src="<%= asset_url("Menu/food-1.jpg") %>" alt="Food 1"/>
                          </div>
                          <h5>Cappuccino</h5>
                          <div>Description Text here</div>
                        </div>
                      </li>
                      <li>
                        <div class="soufle-dish-menu-description">
                          <div class="soufle-dish-image">
                            <img src="<%= asset_url("Menu/food-1.jpg") %>" alt="Food 1"/>
                          </div>
                          <h5>Caramel Macchiato</h5>
                          <div>Description Text here</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <ul class="soufle-dish-menu-content">
                      <li>
                        <div class="soufle-dish-menu-description">
                          <div class="soufle-dish-image">
                            <img src="<%= asset_url("Menu/food-1.jpg") %>" alt="Food 1"/>
                          </div>
                          <h5>Mocha</h5>
                          <div>Description Text here</div>
                        </div>
                      </li>
                      <li>
                        <div class="soufle-dish-menu-description">
                          <div class="soufle-dish-image">
                            <img src="<%= asset_url("Menu/food-1.jpg") %>" alt="Food 1"/>
                          </div>
                          <h5>Caramel Mocha</h5>
                          <div>Description Text here</div>
                        </div>
                    </ul>
                  </div>
                </div>
            </div>
        </section>
        <div class="soufle-divider-space space-md"></div>
        <!--End Contact Form Wrap-->
    </div>
    <!--Footer-->
    <%= render "footer" %>
    <!-- End Footer -->
</div>