<div id="main" class="site-main" role="main">

    <!--Slider Full-->
    <section class="soufle-slider-full">
      <div class="main-carousel default">
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <!-- Carousel items -->
            <div class="item active parallax" style="background-image:url(<%= asset_url("Home-Slider/slide-0.jpg") %>);">
              <div class="container">
                <div class="soufle-itable">
                  <div class="soufle-icell">
                    <div class="soufle-wrap-text-slider">
                      <h1 class="soufle-slider-title-before">SO RICH, SO SMOOTH,<br>SO GOOD</h1>
                      <div class="soufle-slider-divider"></div>
                      <h2 class="soufle-slider-title-after">Delicious, beverages and great-tasting treats.<br>The secret to making life better.</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Slider Full-->

    <section class="soufle-info-box container-min">
      <div class="container">
        <div class="row">
          <div class="soufle-divider-space space-md"></div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="soufle-info-box-header">
              <h3 class="soufle-info-box-title">FEW WORDS ABOUT US</h3>
              <div class="soufle-info-box-divider"></div>
            </div>
            <div class="soufle-info-box-content">
              Having a wealth of experience from various business and industries, this idea aims to go global and become a recognized source of flavour, excitement and adventure within the dessert world.
            </div>
          </div>
        </div></br></br>
        <a class="soufle-special-offers-btn soufle-btn soufle-btn-1 soufle-btn-md soufle-btn-color-2" href="story.html">
          <span>Read More</span>
        </a>
        <div class="row">
          <div class="soufle-divider-space space-md"></div>
        </div>
      </div>
    </section>
    <!--End Section (Info Restaurant)-->

    <!--Section Home Gallery-->
    <section class="soufle-home-gallery">
      <!--Home Gallery Col1-->
      <div class="soufle-home-gallery-col col-sm-4">
        <div class="soufle-home-gallery-block soufle-home-gallery-height-md" style="background-image: url(<%= asset_url("Home-Gallery/image-11.jpg") %>)">
          <a href="Home-Gallery/image-11.jpg" data-rel="prettyPhoto[1]" class="soufle-home-gallery-overlay">
            <div class="soufle-itable">
              <div class="soufle-icell">
                <i class="flyicon-expand"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="soufle-home-gallery-block soufle-home-gallery-height-md" style="background-image: url(<%= asset_url("Home-Gallery/image-14.jpg") %>)">
          <a href="<%= asset_url("Home-Gallery/image-11.jpg") %>" data-rel="prettyPhoto[1]" class="soufle-home-gallery-overlay">
            <div class="soufle-itable">
              <div class="soufle-icell">
                <i class="flyicon-expand"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="soufle-home-gallery-block soufle-home-gallery-height-md" style="background-image: url(<%= asset_url("Home-Gallery/image-15.jpg") %>)">
          <a href="<%= asset_url("Home-Gallery/image-15.jpg") %>" data-rel="prettyPhoto[1]" class="soufle-home-gallery-overlay">
            <div class="soufle-itable">
              <div class="soufle-icell">
                <i class="flyicon-expand"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="soufle-home-gallery-col col-sm-4">
        <div class="soufle-home-gallery-block-title soufle-home-gallery-height-md">
          <div class="soufle-itable">
            <div class="soufle-icell">
              <h5 class="soufle-home-gallery-before-title"><span>Photos</span></h5>
              <h3 class="soufle-home-gallery-title">FROM OUR STORES</h3>
              <a class="soufle-btn soufle-btn-1 soufle-btn-md soufle-btn-color-1" href="products.html">
                <span>All Photos</span>
              </a>
            </div>
          </div>
        </div>
        <div class="soufle-home-gallery-block soufle-home-gallery-height-lg" style="background-image: url(<%= asset_url("Home-Gallery/image-12.jpg") %>)">
          <a href="<%= asset_url("Home-Gallery/image-12.jpg") %>" data-rel="prettyPhoto[1]" class="soufle-home-gallery-overlay">
            <div class="soufle-itable">
              <div class="soufle-icell">
                <i class="flyicon-expand"></i>
              </div>
            </div>
          </a></div>
      </div>
      <div class="soufle-home-gallery-col col-sm-4">
        <div class="soufle-home-gallery-block soufle-home-gallery-height-lg" style="background-image: url(<%= asset_url("Home-Gallery/image-13.jpg") %>)">
          <a href="<%= asset_url("Home-Gallery/image-13.jpg") %>" data-rel="prettyPhoto[1]" class="soufle-home-gallery-overlay">
            <div class="soufle-itable">
              <div class="soufle-icell">
                <i class="flyicon-expand"></i>
              </div>
            </div>
          </a>
        </div>
        <div class="soufle-home-gallery-block soufle-home-gallery-height-md" style="background-image: url(<%= asset_url("Home-Gallery/image-17.jpg") %>)">
          <a href="<%= asset_url("Home-Gallery/image-17.jpg") %>" data-rel="prettyPhoto[1]" class="soufle-home-gallery-overlay">
            <div class="soufle-itable">
              <div class="soufle-icell"><i class="flyicon-expand"></i></div>
            </div>
          </a>
        </div>
      </div>
    </section>
    <!--End Section Home Gallery-->

    <!--Section SOUFFLÉ JOURNAL-->
    <section class="soufle-info-box soufle-theme-color-3">
      <div class="row">
        <div class="soufle-divider-space space-sm"></div>
      </div>
      <aside class="widget widget-newsletter widget-newsletter-footer">
        <h3 class="widget-title">SUBSCRIBE TO OUR NEWSLETTER</h3>

        <form class="newsletter-form" action="#">
          <input type="email" class="newsletter-input" placeholder="please enter your email" style="width: 50%"/>
        </form>
      </aside>
      <div class="row">
        <div class="soufle-divider-space space-sm"></div>
      </div>
    </section>
    <!--End Section SOUFFLÉ JOURNAL-->

    <!--Section Special Offers Slider-->


<!--    UNCOMMENT LATER-->


<!--    <section class="soufle-wrap-slider-special-offers">-->
<!--      <div class="row">-->
<!--        <div class="soufle-slider-special-offers">-->
<!--          <ul id="soufle-slider-special-offers">-->
<!--            <li data-special-offers-slider="1" style="background-image: url(<%#= asset_url("news-slider/news-1.jpg") %>)">-->
<!--              <a href="#" class="soufle-wrap-offers">-->
<!--                <div class="soufle-content-offers-slider">-->
<!--                  <div class="soufle-itable">-->
<!--                    <div class="soufle-icell">-->
<!--                      <time datetime="2018-8-26T9:21:13+00:00" class="soufle-date-offers">26 August 2018</time>-->
<!--                      <span class="soufle-offers-separator"></span>-->
<!--                      <h2 class="soufle-offers-title">WE ARE OPEN NOW</h2>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li data-special-offers-slider="1" style="background-image: url(<%#= asset_url("news-slider/news-2.jpg") %>)">-->
<!--              <a href="#" class="soufle-wrap-offers">-->
<!--                <div class="soufle-content-offers-slider">-->
<!--                  <div class="soufle-itable">-->
<!--                    <div class="soufle-icell">-->
<!--                      <time datetime="2018-8-30T9:21:13+00:00" class="soufle-date-offers">30 August 2018</time>-->
<!--                      <span class="soufle-offers-separator"></span>-->
<!--                      <h2 class="soufle-offers-title">SOFT OPENING DISCOUNT</h2>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li data-special-offers-slider="1" style="background-image: url(<%#= asset_url("news-slider/news-3.jpg") %>)">-->
<!--              <a href="#" class="soufle-wrap-offers">-->
<!--                <div class="soufle-content-offers-slider">-->
<!--                  <div class="soufle-itable">-->
<!--                    <div class="soufle-icell">-->
<!--                      <time datetime="2019-9-2T9:21:13+00:00" class="soufle-date-offers">2 September 2018</time>-->
<!--                      <span class="soufle-offers-separator"></span>-->
<!--                      <h2 class="soufle-offers-title">WE AIM BIG</h2>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li data-special-offers-slider="1" style="background-image: url(<%#= asset_url("news-slider/news-4.jpg") %>)">-->
<!--              <a href="#" class="soufle-wrap-offers">-->
<!--                <div class="soufle-content-offers-slider">-->
<!--                  <div class="soufle-itable">-->
<!--                    <div class="soufle-icell">-->
<!--                      <time datetime="2018-9-7T9:21:13+00:00" class="soufle-date-offers">7 September 2018</time>-->
<!--                      <span class="soufle-offers-separator"></span>-->
<!--                      <h2 class="soufle-offers-title">LOYALTY CARDS</h2>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li data-special-offers-slider="1" style="background-image: url(<%#= asset_url("news-slider/news-3.jpg") %>);">-->
<!--              <a href="#" class="soufle-wrap-offers">-->
<!--                <div class="soufle-content-offers-slider">-->
<!--                  <div class="soufle-itable">-->
<!--                    <div class="soufle-icell">-->
<!--                      <time datetime="2019-9-2T9:21:13+00:00" class="soufle-date-offers">2 September 2018</time>-->
<!--                      <span class="soufle-offers-separator"></span>-->
<!--                      <h2 class="soufle-offers-title">WE AIM BIG</h2>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li data-special-offers-slider="1" style="background-image: url(<%#= asset_url("news-slider/news-4.jpg") %>)">-->
<!--              <a href="#" class="soufle-wrap-offers">-->
<!--                <div class="soufle-content-offers-slider">-->
<!--                  <div class="soufle-itable">-->
<!--                    <div class="soufle-icell">-->
<!--                      <time datetime="2018-9-7T9:21:13+00:00" class="soufle-date-offers">7 September 2018</time>-->
<!--                      <span class="soufle-offers-separator"></span>-->
<!--                      <h2 class="soufle-offers-title">LOYALTY CARDS</h2>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li data-special-offers-slider="1" style="background-image: url(<%#= asset_url("news-slider/news-1.jpg") %>)">-->
<!--              <a href="#" class="soufle-wrap-offers">-->
<!--                <div class="soufle-content-offers-slider">-->
<!--                  <div class="soufle-itable">-->
<!--                    <div class="soufle-icell">-->
<!--                      <time datetime="2018-8-26T9:21:13+00:00" class="soufle-date-offers">26 August 2018</time>-->
<!--                      <span class="soufle-offers-separator"></span>-->
<!--                      <h2 class="soufle-offers-title">WE ARE OPEN NOW</h2>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li data-special-offers-slider="1" style="background-image: url(<%#= asset_url("news-slider/news-2.jpg") %>)">-->
<!--              <a href="#" class="soufle-wrap-offers">-->
<!--                <div class="soufle-content-offers-slider">-->
<!--                  <div class="soufle-itable">-->
<!--                    <div class="soufle-icell">-->
<!--                      <time datetime="2018-8-30T9:21:13+00:00" class="soufle-date-offers">30 August 2018</time>-->
<!--                      <span class="soufle-offers-separator"></span>-->
<!--                      <h2 class="soufle-offers-title">SOFT OPENING DISCOUNT</h2>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--          <!--Offers Slider Control-->-->
<!--          <div class="soufle-offers-slider-control" style="background-image: url(<%#= asset_url("news-slider/central-image.jpg") %>);">-->
<!--            <div class="soufle-itable">-->
<!--              <div class="soufle-icell">-->
<!--                <div class="soufle-slider-control-wrap-title">-->
<!--                  <h3 class="soufle-slider-control-title-before">Newsfeed</h3>-->
<!--                  <h2 class="soufle-slider-control-title-after">SOUFFLÉ JOURNAL</h2>-->
<!--                  <a class="soufle-special-offers-btn soufle-btn soufle-btn-1 soufle-btn-md soufle-btn-color-3" href="#">-->
<!--                    <span>View All</span>-->
<!--                  </a>-->
<!--                </div>-->
<!--                <div class="soufle-wrap-nav-slider">-->
<!--                  <a id="special-offers-slider-prev" class="prev" href="#">-->
<!--                    <i class="fa fa-angle-left"></i>-->
<!--                  </a>-->
<!--                  <a id="special-offers-slider-next" class="next" href="#">-->
<!--                    <i class="fa fa-angle-right"></i>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <!--End Offers Slider Control-->-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
    <!--End Section Special Offers Slider-->

</div>